<div class="chat-component">
  <div class="chat-container">
    <div class="chat-body">
      <div *ngFor="let msgBlock of msgs | chat">
        <div [ngClass]="currentUser.user === msgBlock.user ? 'self-message' : 'other-message'">
          <h5>{{msgBlock.user}}</h5>
          <div *ngFor="let msg of msgBlock.msgs">
            <div>{{msg.msg}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="message-box">
        <md-input type="text" placeholder="message"
                  (keyup.enter)="sendMessage($event.target)">

        </md-input>
    </div>
  </div>
  <div class="users-container">
      <h5>Users:</h5>
  </div>
</div>
