<div style="position:absolute; width: 50px; height: 60%; z-index:10;" (mouseenter)="start.open()" [style.width]="start.opened ? '0px' : '50px'"></div>
<div style="position:absolute; width: 100px; height: 90%; z-index:10;" (swiperight)="start.open()" [style.width]="start.opened ? '0px' : '100px'"></div>
<md-sidenav-layout  fullscreen class="flex-container">
  <md-sidenav style="z-index: 15" #start mode="side" class="side-nav" (mouseleave)="start.close()" (swipeleft)="start.close()">
    <md-list dense>
      <h3 md-subheader>My Account</h3>
      <md-list-item>
        <button md-button (click)="navigate('profile')">
          Profile
        </button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="logout()">
          Log Out
        </button>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item *ngIf="currentUser.user">
        <button md-button (click)="navigate('a/trip')">
          Current Hike
        </button>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>Chat Rooms</h3>
      <md-list-item *ngIf="currentUser.user">
        <button md-button (click)="navigate('a/chat/general')">
          general
        </button>
      </md-list-item>
      <!--<md-list-item *ngFor="let room of chatRooms">
        <button md-button (click)="navigate('a/chat/'+room.name)">
          {{room.id}}
        </button>
      </md-list-item>-->

      <md-divider></md-divider>
      <md-list-item>
        <button md-button (click)="start.close()">CLOSE</button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div class="flex-container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>
