<md-sidenav-layout  fullscreen class="flex-container">
  <md-sidenav #start mode="side" class="side-nav">
    <md-list dense>
      <h3 md-subheader>My Account</h3>
      <md-list-item>
        <button md-button (click)="navigate('a/profile')">
          Profile
        </button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="logout()">
          Log Out
        </button>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>Chat Rooms</h3>
      <md-list-item *ngIf="chatRooms && chatRooms.length">
        <button md-button (click)="navigate('a/challenges/'+challenge._id)">
          {{challenge.name}}
        </button>
      </md-list-item>
      <md-list-item *ngFor="let room of chatRooms">
        <button md-button (click)="navigate('a/challenges/'+room.name)">
          {{room.id}}
        </button>
      </md-list-item>
     <md-divider></md-divider>
      <md-list-item>
        <button md-button (click)="navigate('a/new-challenge')">
          New Chat Room
        </button>
      </md-list-item>
      <md-divider></md-divider>
      <md-lsit-item>
        <button md-button (click)="start.close()">CLOSE</button>
      </md-lsit-item>
    </md-list>
  </md-sidenav>
  <div>
    <md-toolbar class="md-primary">
      <button md-icon-button (click)="start.toggle()" md-raised-button color="warn">
        <md-icon >menu</md-icon>
      </button>
      <div class="toolbar-content">
        <h1>
         Taran.io
        </h1>
      </div>
    </md-toolbar>
  </div>
  <div class="flex-container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>
